{% extends "basic.html" %}

{% block content %}

<style>
    #aside{
    padding-left:100px;
    }
</style>
<div class="posts-list">

<h3 class="widget-title">Список студентов</h3>
    <table style="width:60%" class="table table-condensed">
    <thead>
        <tr>
            <th><h4><b>№</b></h4></th>
            <th><h4><b>Имя</b></h4></th>
            <th><h4><b>Фамилия</b></h4></th>
            <th><h4><b>Отчество</b></h4></th>
            <th><h4><b>Группа</b></h4></th>

        </tr>
    </thead>
        <tbody>
          {% for teacher,userr, group, special, otdel  in records %}

          <tr class="expand">
            <td>{{ userr.id }}</td>
            <td>{{ userr.firstname }}</td>
            <td>{{ userr.lastname }}</td>
            <td>{{ userr.patr }}</td>
            <em>
            <td>{{ group.name }}</td>
            <td>{{ special.name }}</td>
            <td>{{  userr.num_zach }}</td>
              <td>{{ userr.email }}</td>
            <td>{{ otdel.name }}</td>
                </em>
        </tr>

        {% endfor %}

    </tbody>

</table>
        </div>
{% endblock %}